body {
    background-image: url(../../the-odin-project/odin-links-and-images/images/sport-boxing-arena-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.resultsContainer, .scoreFooterContainer, .buttonContainer, .instructions {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    /* margin: 16; */
    /* border: 16; */
}

.resultContentText, .winLoseResult, .countContentText{
    color: red;
}

.scoreFooterContainer {
    margin-top: auto;
}

.buttonContainer {
    justify-content: center;
    gap: 8px;
}

.instructions {
    font-size: 52px;
    color: yellow;
    -webkit-text-stroke: 1px black;
    justify-content: center;
}